<%- include('../partials/header') %>
<div class="container my-5">
  <header class="jumbotron">
    <h1>All About the Project</h1>
  </header>

  <div>
    <p>I am a big fan of all these creepy things, and the main purpose of this app is to help people share their horror stories</p>
  </div>
</div>
<%- include('../partials/footer') %>